.Cookie {
    width: 100px;
}

.colorNougat{
    background-color: rgb(204, 142, 105);
}

.padding30{
    padding: 30px;
}

.padding50{
    padding: 50px;
}

.appMargin{
    margin-top: 100px;
}

.backgroundBlack{
    background-color: black;
}