.appMargin{
    margin-top: 10px;
}

.Cookie {
    width: 150px;
}

.littleWaitingImg{
    width: 15px;
}

.littleCookieImg{
    width: 20px;
}

.clickersCookieImg{
    width: 50px;
}

.middleImg{
    width: 100px;
}

.littleGrandmaImg{
    width: 20px;
}

.colorNougat{
    background-color: rgb(204, 142, 105);
}

.paddingLeftNull{
    padding-left: 0px !important;
}

.padding10{
    padding: 10px;
}

.padding30{
    padding: 30px;
}

.padding50{
    padding: 50px;
}

.backgroundBlack{
    background-color: black;
}